<div class="d-flex justify-content-center mt-3">
    <div class="card" style="width: 25rem; text-align: center; ">
        <img src="changePass.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lege ein sicheres Passwort fest
                Dein Passwort muss aus mindestens 8 Zeichen, ein Großbuchstabe, ein Kleinbuchstabe und eine Zahl
                erforderlich enthalten. </p>
            <form [formGroup]="resetPassForm" (ngSubmit)="handleResetPassForm()">
                <input formControlName="newPassword" class="form-control" placeholder="Neues Passwort">
                <input formControlName="newPassword" class="form-control mt-3"
                    placeholder="Neues Passwort erneut eingeben">
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Passwort zurücksetzen</button>
                </div>
            </form>
        </div>
    </div>
</div>