<div class="container mt-4">

<div class="d-flex justify-content-end mb-3 gap-2">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

  <nav class="nav nav-pills mb-4">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/buecherverwaltung" routerLinkActive="active">Bibliothek</a>
    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
  </nav>

  <div class="p-4 border rounded shadow-sm bg-light">
    <router-outlet></router-outlet>
  </div>

</div>